*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.motivacion{
    display: inline;
    line-height: 1.5;
    color: #fff;
    padding: 5px 8px;
    background-color: #8766F2;
}
.formulario{
    position: absolute;
    top: 20%;
    left: calc(100%-500px);
    width: 400px;
    padding: 10px 20px;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 2px solid rgb(65, 64, 64);
}   